<?xml version="1.0" encoding="utf-8"?>
<manifest


        xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.oyster.DBandContentProviderEx"
        android:versionCode="1"
        android:versionName="1.0">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
            android:targetSdkVersion="19"
            android:minSdkVersion="16"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme"
            android:name=".ToDoApp"
            >

        <activity
                android:name=".ui.activity.TodoMainActivity"
                android:label="@string/app_name">

        </activity>

        <activity
                android:name=".utils.NavigationDrawerBaseActivity">
        </activity>

        <activity
                android:name=".utils.NowCardTestActivity">

        </activity>

        <activity android:name=".ui.activity.DispatchActivity"
                  android:noHistory="true"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LogInOrSignUpActivity"
                  android:screenOrientation="portrait"
                >
        </activity>

        <activity android:name=".ui.activity.SignUpActivity"
                  android:screenOrientation="portrait"
                >
        </activity>

        <provider
                android:authorities="com.oyster.DBandContentProviderEx"
                android:name=".data.contentprovider.TodoContentProvider"
                />

        <service
                android:name=".services.ToDoParseUploadService"
                android:exported="true"
                />
    </application>
</manifest>
